<h2>My Heroes</h2>


<a *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">

</a>

<div class="search-results" infiniteScroll (scrolled)="onScrollDown()">
    <ul class="heroes">
        <li *ngFor="let hero of heroes">
            <a routerLink="/detail/{{hero.id}}">
                <span class="name">{{hero.name}}</span>
                <mat-card class="card-container">
                    <img class="card-image" mat-card-image src="{{hero.imageUrl}}">
                </mat-card>
            </a>
            <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
        </li>
    </ul>
</div>

<button class="btn" mat-fab color="accent" label="Add new hero" [routerLink]="['/new']">
    <mat-icon>add</mat-icon>
</button>